<div id="combinations-container">
  <% for (const id in combinations) { %>
    <div class="single-combination">
      <section class="combination">
        <% for (const colour of combinations[id].colours) { %>
          <span class="colour">
            <%=colour%>
          </span>
          <% } %>
      </section>
      <div class="combination-info">
        <span class="material-symbols-rounded" <%if(user && combinations[id].savedBy.includes(user.id)) {%> style='font-variation-settings:"FILL" 1;'<%}%>id="<%=combinations[id].id%>" <% if (user) {%>user="<%=user.email%>"<%}%>>
          favorite 
        </span>
        <p id=<%=`likes-${id}`%> class="likes">
          <%=combinations[id].saves%>
        </p>
        <i class="fa-solid fa-ellipsis float-menu-show" id="<%=combinations[id].id%>" combination_user_id="<%=combinations[id].user_id%>" <% if (user) { %> user_id="<%=user.id%>" <% }%> ></i>
      </div>
    </div>
    <% } %>
</div> 