<!-- Main home page -->
<%- include('partials/_head') %>
  <main id="main">

    <% for (const id in combinations) { %>
      <section class="combination">
        <span class="colour colour1">
          <%=combinations[id].colours[0]%>
        </span>
        <span class="colour colour2">
          <%=combinations[id].colours[1]%>
        </span>
        <span class="colour colour3">
          <%=combinations[id].colours[2]%>
        </span>
      </section>
      <% } %>
        <%- include('partials/_bootstrap_scripts') %>
          </body>

          </html>