<!-- Main home page -->
<%- include('partials/_head') %>
  <main id="main">

    <% for (var i=1; i <5; i++ ) { %>
      <section class="combination">
        <span class="colour colour1">
          <%=colour1%>
        </span>
        <span class="colour colour2">
          <%=colour2%>
        </span>
        <span class="colour colour3">
          <%=colour3%>
        </span>
      </section>
      <% } %>
        <%- include('partials/_bootstrap_scripts') %>
          </body>

          </html>