<!-- Main home page -->
<%- include('partials/_head') %>
  <main id="main">
    <div id="heading-container">
      <h1 id="heading">Welcome to Colourly!</h1>
      <h3 id="sub-heading">Create your own palette or find inspiration for your next creative project.</h3>
    </div>
    <%- include('partials/_show_combinations.ejs') %>
      <%- include('partials/_sign_in_up_form') %>
        <%- include('partials/_combination_menu') %>
          <%- include('partials/_palette_fullscreen') %>
  </main>
  <%- include('partials/_footer') %>
    <%- include('partials/_bootstrap_scripts') %>
      </body>

      </html>