<!-- Main home page -->
<%- include('partials/_head') %>
  <main id="main">
    <div id="heading-container">
      <h1 id="heading">Colour Palettes</h1>
      <h3 id="sub-heading">Pick your own colour palette and save others to your library!</h3>
    </div>
    <div id="combinations-container">
      <% for (const id in combinations) { %>
        <div class="single-combination">
          <section class="combination">
            <% for (const colour of combinations[id].colours) { %>
              <span class="colour">
                <p class="colour-code">
                  <%=colour%>
                </p>
              </span>
              <% } %>
          </section>
          <div class="combination-info">
            <span class="material-symbols-rounded" id="<%=combinations[id].id%>">
              favorite
            </span>
            <p class="likes">
              <%=combinations[id].likes%>
            </p>
            <i class="fa-solid fa-ellipsis float-menu-show" id="<%=combinations[id].id%>"></i>
          </div>
        </div>
        <% } %>
    </div>

    <%- include('partials/_sign_in_up_form') %>
      <%- include('partials/_combination_menu') %>
  </main>
  <%- include('partials/_bootstrap_scripts') %>
    </body>

    </html>