<!-- Main home page -->
<%- include('partials/_head') %>
  <main id="main">
    <div id="heading-container">
      <h1 id="heading">Colour Palettes</h1>
      <h3 id="sub-heading">Save your own favourite colour palette and vote on others!</h3>
    </div>
    <div id="combinations-container">
      <% for (const id in combinations) { %>
        <div class="single-combination">
          <section class="combination">
            <% for (const colour of combinations[id].colours) { %>
              <span class="colour">
                <%=colour%>
              </span>
              <% } %>
          </section>
          <div class="combination-info">
            <span class="material-symbols-rounded" id="<%=combinations[id].id%>">
              favorite
            </span>
            <p class="likes">
              <%=combinations[id].likes%>
            </p>
            <i class="fa-solid fa-ellipsis"></i>
          </div>
        </div>
        <% } %>
    </div>
    <%- include('partials/_add_new_combinations') %>
    
    <div id="opaque">
      <%- include('partials/_sign_in_form') %>
        <%- include('partials/_sign_up_form') %>
    </div>
    <%- include('partials/_bootstrap_scripts') %>
      </body>

      </html>