<!-- Show a specific user's combinations -->
<%- include('partials/_head') %>
  <main id="main">
    <div id="heading-container">
      <h1 id="heading">Palette Library</h1>
      <h3 id="sub-heading">Would you like to add another colour palette?</h3>
      <span id="add-more-combinations"><a href="/colours/palette">Add more</a></span>
    </div>
    <%- include('partials/_show_combinations.ejs') %>
      <%- include('partials/_sign_in_up_form') %>
        <%- include('partials/_combination_menu') %>
  </main>
  <%- include('partials/_bootstrap_scripts') %>
    </body>

    </html>